.logo {
  display: block;
  position: relative;
  width: min(65%, 450px);
}


div {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 20%;
}

app-search {
  padding-top: 24px;
  padding-bottom: 4px;
}