ion-card {
  display: flex;
  flex-direction: row;
  width: min(90%, 450px);
  margin-bottom: 14px;
  margin-top: 14px;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 10px;
  --ion-background-color: var(--ion-color-green);

}

img {
  position: relative;
  width: min(40%, 200px);
  object-fit: cover;
}

ion-card-title {
  margin-top: 15px;
  font-size: 20px;
}

h6 {
  margin: 0;
  margin-bottom: 10px;
  color: #ffffff;

}


ion-item {
  --border-style: none;
  --inner-padding-end: 0px;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --padding-start: 3px;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.row-star {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}